# Case Study on Testing of Hypothesis

# A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.

In [1]:
# Read the Sales_add dataset to the python environment

In [2]:
# Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
# Loading the CSV file into a pandas dataframe.

data= pd.read_csv(r'C:\ict\Assignments\5.Case study 4 Hypothesis Testing\Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [5]:
# use describe funtion to find the statistics of different columns
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [12]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [13]:
sales_before=data['Sales_before_digital_add(in $)']

In [14]:
sales_before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [15]:
sales_after=data['Sales_After_digital_add(in $)']

In [16]:
sales_after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [17]:
Hypothesis:
 Null Hypothesis H0 :There is no increase in Sales after stepping into digital marketing
 Alternative Hypothesis H1:There is increase in sales after stepping into digital marketing

In [ ]:
# The basic two sample t-test is designed for testing differences between independent groups. 
# Here we need to test differences between samples of the same group at different points in time.
# Sales before and after digital marketting. 
 A paired t-test lets you check whether the means of samples from the same group differ.
 We can conduct a paired t-test using the scipy function stats.ttest_rel().

In [18]:
from scipy.stats import ttest_rel
t_value, p_value = ttest_rel(sales_before,sales_after)
print('t_value=',t_value)
print('p_value=',p_value)

t_value= -12.09070525287017
p_value= 6.336667004575778e-11

In [ ]:
# The test yields a p-value of 6.336667004575778e-11
# The test result shows the test statistic "t" is equal to -12.09070525287017.
# This test statistic tells us how much the sample mean deviates from the null hypothesis.
# If the t-statistic lies outside the quantiles of the t-distribution corresponding to our
#       confidence level and degrees of freedom, we reject the null hypothesis.

In [19]:
# degrees of freedom
#df = n - 1
df = len(sales_before)  - 1
df

21

In [20]:
# calculate the critical value
# alpha = 0.05
# critical_value= scipy.statst.ppf(1.0 - alpha, df)
import scipy
critical_value=scipy.stats.t.ppf(q=1-0.05,df=21)
critical_value

1.7207429028118775

In [21]:
if np.abs(t_value)>np.abs(critical_value) and p_value<0.05:
    print("Reject Null Hypothesis H0")
else:
    print("Reject Alternative Hypothesis H1")

Reject Null Hypothesis H0

In [ ]:
 Output
# t_value= -12.09070525287017
# p_value= 6.336667004575778e-11
 Conclusion
# Since p-value=(6.336667004575778e-11) < alpha=(0.05) We can reject the null hypothesis H0.
# So we can conclude that there is increase in sales after stepping into digital marketing.

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [ ]:
# The Chi-Squared test is a statistical hypothesis test that assumes (the null hypothesis)that:
#     the observed frequencies for a categorical variable match the
#     expected frequencies for the categorical variable

In [ ]:
# The function takes an array as input representing the contingency table for the 
#         two categorical variables. 
# It returns the calculated statistic and p-value for interpretation 
#        as well as the calculated degrees of freedom and table of expected frequencies.

In [ ]:
Hypothesis
# Null Hypothesis H0:There is no dependency between Region and Manager
# Alternative Hypothesis H1:There is dependency between Region and manager

In [22]:
data_new = data.groupby('Region')['Manager'].value_counts().unstack()
data_new

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [32]:
# chi-squared test can be calculated in Python using the chi2_contingency() SciPy function.
# stat, p, dof, expected = chi2_contingency(table)
c,p,dof,expected = stats.chi2_contingency(data_new)

In [ ]:
#We can interpret the statistic by retrieving the critical value from the chi-squared distribution for 
#       the probability and number of degrees of freedom.
# A contingency table is defined below that has a different number of observations :
#         for each population (row), but a similar proportion across each group (column).
# To run the Chi-Square Test, the easiest way is to : 
#                  convert the data into a contingency table with frequencies.

In [ ]:
# Now that we have built the contingency table we can pass it to 
# chi2_contingency function from the scipy package which returns the:
       chi2: The test statistic
       p: The p-value of the test
       dof: Degrees of freedom
       expected: The expected frequencies, based on the marginal sums of the table

In [24]:
#chi2: The test statistic
c

3.050566893424036

In [25]:
#p: The p-value of the test
p

0.5493991051158094

In [26]:
#degrees of freedom: (rows - 1) * (cols - 1)
#                  : (3 - 1) * (3 - 1)
dof

4

In [27]:
#expected: The expected frequencies, based on the marginal sums of the table
expected

array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]])

In [28]:
# interpret test-statistic
chi2_critical = stats.chi2.ppf(1-0.05,4)
chi2_critical

9.487729036781154

In [31]:
if(c>chi2_critical and p<0.05):
    print("Reject Null Hypothesis H0")
else:
    print("Reject Alternative Hypothesis H1")

Reject Alternative Hypothesis H1

In [ ]:
Conclusion
# The critical value is calculated and interpreted. 
# Finding that indeed the variables are independent (fail to reject H0).
# So we can conclude that there is no any dependency between the features “Region” and “Manager”.